.landing {
  text-align: center;
  height: 100%;
  width: 100%;
}

.landing-horizontal {
  max-width: 80%;
  margin: auto;
}

.landing-logo {
  width: 100%;
  max-height: auto;
  margin-bottom: 3%;
}

.landing-text {
  /* Source: https://matthewjamestaylor.com/responsive-font-size */
  font-size: calc(20px + 0.390625vw);
  max-width: 60%;
}

.landing-shore-btn {
  background: none;
  text-decoration: underline;
  font-weight: bold;
  border: none;
  font-size: calc(28px + 0.390625vw);
  margin: 5% 0 2%;
}

.landing-shore-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.auth-btn {
  width: 22rem;
  height: 6rem;
  border-radius: 60px;
  font-size: calc(28px + 0.390625vw);
  margin: 1.5%;
}

@media (max-width: 700px) {
  .auth-btn {
    width: 16rem;
    height: 3rem;
  }
}