.bottle-message {
    align-items: center;
}

.bottle-message-title {
    margin: 2% 0;
    font-size: calc(22px + 0.390625vw);
}

.bottle-message-card {
    background-color: #bdbdbd;
    border: 2px solid black;
    border-radius: 30px;
    width: 80%;
    height: 60dvh;
    margin-bottom: 3%;
}

.bottle-message-details {
    width: 100%;
    height: 20%;
    margin: 1% 0;
    align-items: start;
}

.delivery-date-picker {
    padding: 2%;
    border: 2px solid black;
    border-radius: 30px;
}

.bottle-message-label {
    font-size: calc(16px + 0.390625vw);
    margin-bottom: 10%;
    font-weight: bold;
}

.bottle-message-body {
    width: 100%;
    height: 60%;
}

.bottle-message-body-input {
    width: 80%;
    height: 85%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1.5%;
    resize: none;
}

.bottle-message-bottle-button {
    margin-top: 2%;
}

.horizontal-rule-bottle {
    width: 99dvw;
}

.radio-form {
    align-items: flex-start;
}

.radio-button {
    margin-left: 0%;
}

.status-label-buttons {
    align-items: center;
}

.upload-image-div {
    align-items: center;
}

.upload-image-div input {
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1%;
}

.upload-image-div input::file-selector-button {
    display: none;
}


@media (max-width:700px) {
    .bottle-message-label {
        font-size: calc(10px + 0.390625vw);
        margin-bottom: 10%;
        font-weight: bold;
    }
}

@media (max-width:500px) {
    .bottle-message-details {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
    }
}