* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

.white-text {
    color: white;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary-back {
    background-color: #154866;
}

.secondary-back {
    background-color: #998A5B;
}

.primary-btn {
    background-color: #154866;
    color: white;
}

.secondary-btn {
    background-color: white;
    color: #998A5B;
    border: 1px solid #998A5B;
}