.message-stream {
    height: 80%;
    align-items: center;
}

.message-stream-title {
    font-size: calc(22px + 0.390625vw);
    margin: 7%;
}

.message-stream-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-gap: 2px;
    height: fit-content;
    justify-items: center;
    width: 80%;
}

.message-stream-card {
    background-color: #BDBDBD;
    margin-bottom: 10%;
    border: 2px solid black;
    width: 11dvw;
    border-radius: 36px;
    height: 24dvh;
    justify-content: space-around;
    align-items: center;
    min-width: 170px;
}

.message-stream-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2%;
}

.message-stream-card-title {
    justify-content: end;
    align-items: center;
    font-size: calc(10px + 0.390625vw);
}

.message-stream-card-title h5 {
    font-size: calc(7px + 0.390625vw);
    margin-top: 10%
}

.stream-info-title {
    margin-bottom: 5%;
}

.share-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.view-message-stream-btn {
    width: 50%;
    height: 15%;
    border-radius: 30px;
}

@media (max-width:900px) {
    .message-stream-section {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width:750px) {
    .message-stream-section {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:600px) {
    .message-stream-section {
        grid-template-columns: auto auto;
    }
}

@media (max-width:400px) {
    .message-stream-section {
        grid-template-columns: auto;
    }
}