.message-stream {
    height: 80%;
    align-items: center;
}

.message-stream-title {
    font-size: calc(22px + 0.390625vw);
    margin: 7%;
}

.message-stream-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-gap: 2px;
    height: fit-content;
    justify-items: center;
    width: 80%;
}

.message-stream-card {
    background-color: #BDBDBD;
    margin-bottom: 10%;
    border: 2px solid black;
    width: 11dvw;
    border-radius: 36px;
    height: 24dvh;
    justify-content: space-around;
    min-width: 150px;
}

.message-stream-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2%;
}